<form action="/header" method="post">
    <input type="submit" formaction="/back" value= "Back" style="background-color:crimson; border:0px">
</form>
<div style="float:right; margin-top:10px;">
    <h2 id="streak">0</h2>
    <h2 style="float: right"><img src="/images/flame.png" alt="streak flame"></h2>
</div>
