<h2 id="fl">Logs</h2>
<input type="submit" class="options" style="background-color:seagreen" id="full" name="full" value="Full Log" formaction="/full">
<input type="submit" class="options" style="background-color:seagreen" id="daily" name="daily" value="Daily Log" formaction="/daily">
<input type="hidden" id="selection" name="selection" value="logpg">
<input type="hidden" id="username" name="username" value="<%- username %>">

