<h2 id="category"></h2>
<input type="hidden" id="selection" name="selection" value="ranking">
<input type="hidden" id="username" name="username" value="<%- username %>">
<input type="hidden" id="categoryh" name="category" value="<%- category %>">