<h2 id="as" style="color:mediumseagreen;">Addition/Subtraction</h2>
<input type="submit" class="options" style="background-color:mediumseagreen" id="two" name="two" value="2 NUMBERS" formaction="/two">
<input type="submit" class="options" style="background-color:mediumseagreen" id="three" name="three" value="3 NUMBERS" formaction="/three">

<h2 id="md" style="color:royalblue;">Multiplication/Division</h2>
<input type="submit" class="options" style="background-color:royalblue" id="twomd" name="twomd" value="2 NUMBERS" formaction="/twomd">
<input type="submit" class="options" style="background-color:royalblue" id="threemd" name="threemd" value="3 NUMBERS" formaction="/threemd">

<h2 id="rem" style="color:slateblue;">Remainders</h2>
<input type="submit" class="options" style="background-color:slateblue" id="tworem" name="tworem" value="2 NUMBERS" formaction="/tworem">
<input type="submit" class="options" style="background-color:slateblue" id="threerem" name="threerem" value="3 NUMBERS" formaction="/threerem">

<input type="hidden" id="username" name="username" value="<%- username %>">
<input type="hidden" id="selection" name="selection" value="selection">
