<!DOCTYPE html>
<html>
<style type="text/css">
    html, body {
        min-height: 100%;
    }
    body {
        margin:40px auto;
        width:320px;
        height:600px;
        touch-action: manipulation;
    }
    .options{
        background-color:purple;
        color:white;
        padding:10px;
        text-decoration: none;
        margin:10px;
        outline:solid 5px black;
        font-size:20px;
        width:140px;
    }
    .options:hover{
        outline-width: 7px;
    }
    h1{
        color:crimson;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style:italic;
        text-align: center;
        font-size:42px;
    }
    h2{
        color:dodgerblue;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
    }
    #two,#twomd,#tworem{
        float:left;
    }
    #three,#threemd,#threerem{
        float:right;
    }
    #leaderboard{
        margin:4px auto;
        float:right;
    }
    input{
        border:0px;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Quick Math</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    

    <form action="/problem" method="post">
        <input type="submit" id="language" name="language" value="<%- language %>" formaction="/language">
        <input type="submit" id="leaderboard" name="leaderboard"  value = "Leaderboard" formaction="/leaderboard">
        <input type="hidden" id="doc" name="title" value="Quick Math">

        <div>
            <h1 id="title">Quick Math</h1>
        </div>

        <% include /Users/jenny/dynamic-quickmath/views/partials/selection %>

        <input id="logout" class="ghost-button" name="logout" type="submit" value="Log Out" formaction="/logout">
    </form>
    
    <script>
        var languages = "<%- language %>";
        if(languages==""){
            languages="en";
        }

        function switchlang(){
            //alert(languages);
            if(languages == "en"){
                document.getElementById("leaderboard").value = "Leaderboard";
                document.getElementById("language").value = "English";
                document.getElementById("title").textContent = "Quick Math";
                document.getElementById("two").value = "2 NUMBERS";
                document.getElementById("three").value = "3 NUMBERS";
                document.getElementById("twomd").value = "2 NUMBERS";
                document.getElementById("threemd").value = "3 NUMBERS";
                document.getElementById("tworem").value = "2 NUMBERS";
                document.getElementById("threerem").value = "3 NUMBERS";
                document.getElementById("logout").value = "Log Out";
                document.getElementById("as").textContent = "Addition/Subtraction";
                document.getElementById("md").textContent = "Multiplication/Division";
                document.getElementById("rem").textContent = "Remainder";
            }
            if(languages == "zh"){
                document.getElementById("leaderboard").value = "排行榜";
                document.getElementById("language").value = "中文";
                document.getElementById("title").textContent = "快算";
                document.getElementById("two").value = "两个数";
                document.getElementById("three").value = "三个数";
                document.getElementById("twomd").value = "两个数";
                document.getElementById("threemd").value = "三个数";
                document.getElementById("tworem").value = "两个数";
                document.getElementById("threerem").value = "三个数";
                document.getElementById("logout").value = "退出";
                document.getElementById("as").textContent = "加减";
                document.getElementById("md").textContent = "乘除";
                document.getElementById("rem").textContent = "余数";
            }
        }
        switchlang();
    </script>
    <noscript>Sorry, it looks like your browser doesn't support Javascript or have it enabled.</noscript>

</body>
</html>