<!DOCTYPE html>
<html>
<style type="text/css">
    html, body {
        min-height: 100%;
    }
    body {
        margin:40px auto;
        width:320px;
        height:600px;
        touch-action: manipulation;
    }
    .options{
        background-color:purple;
        color:white;
        padding:10px;
        text-decoration: none;
        margin:10px;
        outline:solid 5px black;
        font-size:20px;
    }
    .options:hover{
        outline-width: 7px;
    }
    h1{
        color:crimson;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style:italic;
        text-align: center;
        font-size:42px;
    }
    h2{
        color:dodgerblue;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
    }
    a {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color:white;
    }
    .nums{
        width:320px;
        height:70px;
        overflow: hidden;
    }
    #two,#twomd,#tworem{
        float:left;
    }
    #three,#threemd,#threerem{
        float:right;
    }
    #leaderboard{
        float:right;
    }
    input{
        border:0px;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Quick Math</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <% if(language == "en"){ %>
        <button id="language" onclick="switchlang()"><%= language %></button>
    <% } %>

    <button id="leaderboard" onclick="highscore()">Leaderboard</button>

    <div>
        <h1>Quick Math</h1>
    </div>

    <form action="/problem" method="post">
        <h2 id="as">Addition/Subtraction</h2>
        <input type="submit" class="options" id="two" name="two" value="2 NUMBERS" formaction="/two">
        <input type="submit" class="options" id="three" name="three" value="3 NUMBERS" formaction="/three">

        <h2 id="md">Multiplication/Division</h2>
        <input type="submit" class="options" id="twomd" name="twomd" value="2 NUMBERS" formaction="/twomd">
        <input type="submit" class="options" id="threemd" name="threemd" value="3 NUMBERS" formaction="/threemd">

        <h2 id="rem">Remainders</h2>
        <input type="submit" class="options" id="tworem" name="tworem" value="2 NUMBERS" formaction="/tworem">
        <input type="submit" class="options" id="threerem" name="threerem" value="3 NUMBERS" formaction="/threerem">
        
        <input type="hidden" id="username" name="username" value="<%- username %>">
        <input id="logout" class="ghost-button" name="logout" type="submit" value="Log Out" formaction="/logout">
    </form>


    <!--<h2>Addition/Subtraction</h2>

    <div class="nums">
        <a ><h4 class="options" id="two" onclick="location.href='/problem'">2 NUMBERS</h4></a>
        <a href="threenum.html#en"><h4 class="options" id="three">3 NUMBERS</h4></a>
    </div>

    <h2>Multiplication/Division</h2>

    <div class="nums">
        <a href="twomd.html#en"><h4 class="options" id="twomd">2 NUMBERS</h4></a>
        <a href="threemd.html#en"><h4 class="options" id="threemd">3 NUMBERS</h4></a>
    </div>

    <h2>Remainders</h2>

    <div class="nums">
        <a href="tworem.html#en"><h4 class="options" id="tworem">2 NUMBERS</h4></a>
        <a href="threerem.html#en"><h4 class="options" id="threerem">3 NUMBERS</h4></a>
    </div>-->
    
    <script>
        var languages = "<%- language %>";
        if(languages==""){
            languages="en";
        }
        //alert(window.location.hash.substring(4,7));
        var highscores = [0,0,0,0,0,0];
        if(window.location.hash.substring(4,7)=="as2"){
            if(window.location.hash.substring(7)>highscores[0])
                highscores[0] = window.location.hash.substring(7);
        }
        if(window.location.hash.substring(4,7)=="as3"){
            if(window.location.hash.substring(7)>highscores[1])
                highscores[1] = window.location.hash.substring(7);        
        }
        if(window.location.hash.substring(4,7)=="md2"){
            if(window.location.hash.substring(7)>highscores[2])
                highscores[2] = window.location.hash.substring(7); 
        }
        if(window.location.hash.substring(4,7)=="md3"){
            if(window.location.hash.substring(7)>highscores[3])
                highscores[3] = window.location.hash.substring(7); 
        }
        if(window.location.hash.substring(4,7)=="rm2"){
            if(window.location.hash.substring(7)>highscores[4])
                highscores[4] = window.location.hash.substring(7); 
        }
        if(window.location.hash.substring(4,7)=="rm3"){
            if(window.location.hash.substring(7)>highscores[5])
                highscores[5] = window.location.hash.substring(7); 
        }
        
        function switchlang(){
            /*var h1s = document.getElementsByTagName("h1");
            for(i=0; i<h1s.length; i++){
                if(h1s[i].getAttribute("lang")==languages){
                    h1s[i].style.display = "block";
                }else{
                    h1s[i].style.display = "none";
                }
            }
            var h2s = document.getElementsByTagName("h2");
            for(i=0; i<h2s.length; i++){
                if(h2s[i].getAttribute("lang")==languages){
                    h2s[i].style.display = "block";
                }else{
                    h2s[i].style.display = "none";
                }
            }
            var h4s = document.getElementsByTagName("h4");
            for(i=0; i<h4s.length; i++){
                if(h4s[i].getAttribute("lang")==languages){
                    h4s[i].style.display = "block";
                }else{
                    h4s[i].style.display = "none";
                }
            }*/

            if(languages == "en"){
                document.getElementById("leaderboard").textContent = "Leaderboard";
                document.getElementById("language").textContent = "Language: English";
            }
            else{
                document.getElementById("leaderboard").textContent = "排行榜";
                document.getElementById("language").textContent = "语言: 中文";
            }
            
            if(languages == "en")
                languages = "zh";
            else
                languages = "en";
        }

        function highscore(){
            alert(window.location.hash.substring(4));
            window.location.href = "leaderboard.html"+"#"+languages+"#"+window.location.hash.substring(4);
        }
        switchlang();
    </script>
    <noscript>Sorry, it looks like your browser doesn't support Javascript or have it enabled.</noscript>

</body>
</html>