html, body {
    min-height: 100%;
}
body {
    margin:auto auto;
    max-width:320px;
    touch-action: manipulation;
}
#streak{
    float:right;
    overflow: auto;
    font-size: 30px;
}
button {
    width:80px;
    height:80px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:42px;
    -webkit-appearance: none;
    border-radius: 0;
    text-align:center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.prob{
    font-size:48px;
    margin:3px;
}
#answer{
    font-size: 48px;
    margin-bottom:10px;
}
table{
    text-align:center;
    width:315px;
}
img{
    width:40px;
    height:40px;
    float:right;
}